.HomeMain {
  margin: 2rem 4rem;
  color: rgb(6, 6, 146);
}

.HomeMain h1 {
  font-size: 2.65rem;
}
.HomeMain p {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.HomeMain-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.fashion-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.female-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.male-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.HomeMain-text {
  width: 35%;
  text-align: start;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-right: 2rem;
  background-color: antiquewhite;
}

.fashion-text {
  width: 35%;
  text-align: start;
  font-size: 1rem;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-left: 2rem;
  background-color: antiquewhite;
}

.female-text {
  width: 35%;
  text-align: start;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-right: 2rem;
  background-color: antiquewhite;
}
.male-text {
  width: 35%;
  text-align: start;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
  margin-right: 2rem;
}

.HomeMain-text h2,
.fashion-text h2 {
  padding-bottom: 1rem;
  justify-content: center;
  font-size: 1.6rem;
}
.HomeMain-text p,
.fashion-text p,
.female-text p {
  text-align: justify;
  font-size: 1.2rem;
}

.home-image {
  position: relative;
  width: 75%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.female-image {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}
.male-image {
  position: relative;
  width: 65%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}
.fashion-image {
  position: relative;
  width: 60%;
  justify-content: space-between;
  z-index: -99;
}

.fashion-image-2 {
  margin-top: 2rem;
}

.home-image img {
  width: 32%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.female-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.fashion-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.RK-Fashion_Jewelry {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.rk-jewelry-cart h2 {
  margin-top: 1rem;
  font-size: 1rem;
}

.rk-jewelry-cart {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.rk-jewelry-des {
  width: 24%;
  text-align: start;
  padding: 1rem;
  box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  cursor: pointer;
}

.rk-jewelry-image {
  height: 250px;
  overflow: hidden;
  border-radius: 7px;
}

.rk-jewelry-image img {
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
  border-radius: 7px;
}

.rk-jewelry-image:hover img {
  transform: scale(1.3);
}

.rk-jewelry-des h2 {
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .HomeMain {
    margin: 1rem 1rem;
  }
  .HomeMain h1 {
    font-size: 1.3rem;
  }
  .HomeMain p {
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }

  .HomeMain-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
    width: 100%;
    padding-right: 0;
  }

  .fashion-des {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .fashion-text {
    width: 100%;
    text-align: start;
    font-size: 0.8rem;
    padding-right: 1.5rem;
    margin-left: 0.3rem;
    margin-right: 0rem;
  }

  .female-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0.5rem;
    padding-left: 0;
  }

  .home-image,
  .female-image,
  .fashion-image {
    width: 100%;
    margin: 1.5rem 0;
  }

  .HomeMain-text {
    width: 100%;
    text-align: start;
    font-size: 0.8rem;
    padding-right: 1.5rem;
    margin-left: 0.3rem;
    margin-right: 0rem;
  }

  .HomeMain-text p {
    width: 100%;
    padding-right: 0;
  }
  .HomeMain-text h2,
  .female-text h2,
  .fashion-text h2 {
    justify-content: space-evenly;
    font-size: 1.3rem;
  }

  .female-text {
    width: 100%;
    text-align: start;
    border-radius: 7px;
    margin-right: 0;
  }

  .RK-Fashion_Jewelry {
    font-size: 1rem;
  }
  .rk-jewelry-heading {
    width: 100%;
    justify-content: center;
  }

  .rk-jewelry-heading h2 {
    font-size: 1.3rem;
  }

  .rk-jewelry-cart {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .rk-jewelry-des {
    width: 100%;
    padding-right: 1rem;
  }

  .rk-jewelry-text {
    padding-right: 1rem;
  }
}
