.female-heading {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: rgb(6, 6, 146);
}

.female-heading-expl {
  color: navy;
  font-family: sans-serif;
  font-size: 1.2rem;
}

.female-container {
  margin: 2rem 4rem;
  color: rgb(6, 6, 146);
  text-align: justify;
}

@media screen and (max-width: 850px) {
  .female-heading {
    margin-top: 1.5rem;
    font-size: 1.6rem;
  }

  .female-heading-expl {
    font-size: 1rem;
  }

  .female-container {
    margin: 2rem 2rem;
  }
}
